﻿@model Neostore.Backend.Domain.ViewModels.Pages.DashboardViewModel

@{
    ViewData["Title"] = "Resumo geral";
}

<div class="container-fluid padding-25 sm-padding-10">
    <div class="row">
        <div class="col-md-4 col-lg-3 col-xlg-2">
            <div class="row">
                <div class="col-md-12 m-b-10">
                    <!-- START WIDGET D3 widget_graphTileFlat-->
                    <div class="widget-8 panel no-border no-margin widget-loader-bar @(Model.EvaluationsAverage < 3 ? "bg-danger" : Model.EvaluationsAverage == 3 ? "bg-warning" : "bg-success")">
                        <div class="container-xs-height full-height">
                            <div class="row-xs-height">
                                <div class="col-xs-height col-top">
                                    <div class="panel-heading top-left top-right">
                                        <div class="panel-title text-black hint-text">
                                            <span class="font-montserrat fs-11 all-caps">
                                                Média geral de avaliações <i class="fa fa-bar-chart"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-xs-height ">
                                <div class="col-xs-height col-top relative">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="p-l-20">
                                                <h3 class="no-margin p-b-5 text-white">@Model?.EvaluationsAverage.ToString("0.#")</h3>
                                                <p class="small hint-text m-t-5">
                                                    <span class="label  font-montserrat m-r-5">@Model?.EvaluationsCount</span> avaliações únicas
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END WIDGET -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 m-b-10">
                    <!-- START WIDGET widget_progressTileFlat-->
                    <div class="widget-8 panel no-border no-margin widget-loader-bar bg-primary-light">
                        <div class="container-xs-height full-height">
                            <div class="row-xs-height">
                                <div class="col-xs-height col-top">
                                    <div class="panel-heading top-left top-right">
                                        <div class="panel-title text-black hint-text">
                                            <span class="font-montserrat fs-11 all-caps">
                                                Média de avaliações únicas <i class="fa fa-bar-chart"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-xs-height ">
                                <div class="col-xs-height col-top relative">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="p-l-20">
                                                <h3 class="no-margin p-b-5 text-white">@Model?.EvaluationsCountAverage</h3>
                                                <p class="small hint-text m-t-5 text-white">
                                                    <span class="label font-montserrat m-r-5">@Model?.EvaluationsCountMax</span> mais avaliada
                                                </p>
                                                <p class="small hint-text m-t-5 text-white">
                                                    <span class="label font-montserrat m-r-5">@Model?.EvaluationsCountMin</span> menos avaliada
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END WIDGET -->
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xlg-2">
            <div class="widget-pie-chart panel panel-condensed no-margin no-border bg-info-lighter">
                <div class="p-l-30 p-r-30">
                    <h2 class="text-complete no-margin inline bold">@Model.EvaluationsCount</h2> <br/>
                    <p class="all-caps font-montserrat  small no-margin overflow-ellipsis inline m-l-20">
                        Avaliações únicas
                    </p>
                </div>
                
                
                <div class="panel-body">
                    <div id="nvd3-pie" class="text-center">
                        <div id="chart">
                            <svg height="213"></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-lg-2 col-xlg-2">
            <div class="ar-1-1">
                <!-- START WIDGET widget_plainLiveWidget-->
                <div class="widget-3 panel no-border bg-complete no-margin widget-loader-bar">
                    <div class="panel-body no-padding">
                        <div class="metro live-tile" data-mode="carousel" data-start-now="true" data-delay="7000">
                            <div class="slide-front tiles slide active">
                                <div class="row-xs-height">
                                    <div class="col-xs-height col-top">
                                        <div class="panel-heading top-left top-right">
                                            <div class="panel-title text-black hint-text">
                                                <span class="font-montserrat fs-11 all-caps text-white">
                                                    Loja em destaque <i class="fa fa-thumbs-o-up"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="padding-20">
                                    <div class="pull-bottom p-b-30">
                                        <p class="p-t-10 fs-12 p-b-5 hint-text">@Model.EvaluationsCountMax avaliações</p>
                                        <h3 class="no-margin text-white p-b-10">
                                            @*Loja Teste*@
                                        </h3>
                                        <p><span class="semi-bold">mais avaliada</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="slide-back tiles">
                                <div class="row-xs-height">
                                    <div class="col-xs-height col-top">
                                        <div class="panel-heading top-left top-right">
                                            <div class="panel-title text-black hint-text">
                                                <span class="font-montserrat fs-11 all-caps text-white">
                                                    Loja em destaque <i class="fa  fa-thumbs-o-down"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="padding-20">
                                    <div class="pull-bottom p-b-30">
                                        <p class="p-t-10 fs-12 p-b-5 hint-text">@Model.EvaluationsCountMin avaliações</p>
                                        <h3 class="no-margin text-white p-b-10">
                                            @*Loja não teste*@
                                        </h3>
                                        <p><span class="semi-bold">menos avaliada</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END WIDGET -->
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="http://pages.revox.io/dashboard/widgets/assets/plugins/nvd3/lib/d3.v3.js" type="text/javascript"></script>
    <script src="http://pages.revox.io/dashboard/widgets/assets/plugins/nvd3/nv.d3.min.js" type="text/javascript"></script>
    <script src="http://pages.revox.io/dashboard/widgets/assets/plugins/nvd3/src/utils.js" type="text/javascript"></script>
    <script src="http://pages.revox.io/dashboard/widgets/assets/plugins/nvd3/src/tooltip.js" type="text/javascript"></script>
    <script src="http://pages.revox.io/dashboard/widgets/assets/plugins/nvd3/src/interactiveLayer.js" type="text/javascript"></script>
    <script src="http://pages.revox.io/dashboard/widgets/assets/plugins/nvd3/src/models/axis.js" type="text/javascript"></script>
    <script src="http://pages.revox.io/dashboard/widgets/assets/plugins/nvd3/src/models/line.js" type="text/javascript"></script>
    <script src="http://pages.revox.io/dashboard/widgets/assets/plugins/nvd3/src/models/lineWithFocusChart.js" type="text/javascript"></script>

    <script>
        var data = [
            { "label": "Péssimo", "value": @Model.EvaluationPercents[0].ToString(System.Globalization.CultureInfo.InvariantCulture) },
            { "label": "Ruim", "value": @Model.EvaluationPercents[1].ToString(System.Globalization.CultureInfo.InvariantCulture) },
            { "label": "Regular", "value": @Model.EvaluationPercents[2].ToString(System.Globalization.CultureInfo.InvariantCulture) },
            { "label": "Bom", "value": @Model.EvaluationPercents[3].ToString(System.Globalization.CultureInfo.InvariantCulture) },
            { "label": "Ótimo", "value": @Model.EvaluationPercents[4].ToString(System.Globalization.CultureInfo.InvariantCulture) }
        ];

        nv.addGraph(function () {
            var chart = nv.models.pieChart()
                .x(function (d) { return d.label })
                .y(function (d) { return d.value })
                .showLabels(false);

            d3.select("#chart svg")
                .datum(data)
                .transition().duration(1200)
                .call(chart);

            return chart;
        });

        $(".widget-3 .metro").liveTile();
    </script>
}