﻿@model Neostore.Backend.Domain.ViewModels.Custom.ReasonViewModel

@{
    Layout = null;
}

<div class="col-md-6">
    <div class="form-group form-group-default required">
        <label asp-for="@Model.Description"></label>
        <input type="text" asp-for="@Model.Description" class="form-control" required="required">
    </div>
</div>