﻿@model Neostore.Backend.Domain.ViewModels.Custom.ReasonViewModel

@{
    ViewData["Title"] = "Criar nova Razão";
}

<div class="container-fluid container-fixed-lg">
    <ul class="breadcrumb">
        <li><a asp-action="Index" asp-controller="Home">Dashboard</a></li>
        <li><a asp-action="Index" asp-controller="Reasons">Razões</a></li>
        <li><a asp-action="Create" asp-controller="Reasons" class="active">@ViewData["Title"]</a></li>
    </ul>
    <div class="panel panel-transparent">
        <div class="panel-body">
            <form asp-action="Create" asp-controller="Reasons" method="post">
                @Html.Partial("_EditorTemplate")

                <div class="clearfix"></div>
                <div class="col-md-6">
                    <button class="btn btn-success" type="submit">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>