﻿@model Neostore.Backend.Domain.ViewModels.Pages.LoginViewModel

@{
    Layout = "_LayoutLogin";
}

<div class="login-wrapper ">
    <div class="bg-pic">
        <img src="~/assets/img/demo/neostore-background.jpg" data-src="@Url.Content("~/assets/img/demo/neostore-background.jpg")" data-src-retina="@Url.Content("~/assets/img/demo/neostore-background.jpg")" alt="" class="lazy">
        <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
            <h2 class="semi-bold text-white">
                Encantômetro
            </h2>
            @*<p class="small">
                OFEREÇA AOS CLIENTES CONVENIÊNCIA DE COMPRAR EM QUALQUER LUGAR, A QUALQUER HORA E UMA EXPERIÊNCIA MODERNA
            </p>*@
        </div>
    </div>
    <div class="login-container bg-white">
        <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
            <img src="~/assets/img/NM-Logo-02.png" alt="logo" data-src="@Url.Content("~/assets/img/NM-Logo-02.png")" data-src-retina="@Url.Content("~/assets/img/NM-Logo-02.png")" width="160">
            <p class="p-t-35"></p>
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="p-t-15">
                <div class="form-group form-group-default">
                    <label asp-for="UserName"></label>
                    <div class="controls">
                        <input asp-for="UserName" placeholder = "email@exemplo.com" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group form-group-default">
                    <label asp-for="Password"></label>
                    <div class="controls">
                        <input asp-for="Password" class="form-control" placeholder = "sua senha" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <a asp-action="ForgotPassword" class="text-info small">Esqueci minha senha</a>
                    </div>
                    <div class="col-md-6 text-right">
                        <button class="btn btn-primary btn-cons m-t-10" type="submit">Entrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>