﻿@{
    Layout = null;
}

<div class="container-fluid container-fixed-lg footer">
    <div class="copyright sm-text-center">
        <p class="small no-margin pull-left sm-pull-reset">
            <span class="hint-text">Copyright &copy; 2017 </span>
            <span class="font-montserrat">Neostore</span>.
            <span class="hint-text">Todos os direitos reservados. </span>
        </p>
        <div class="clearfix"></div>
    </div>
</div>