﻿<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - WeLike | Weee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
    <link rel="apple-touch-icon" href="~/pages/ico/60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/pages/ico/76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/pages/ico/120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/pages/ico/152.png">
    <link rel="icon" type="image/x-icon" href="~/assets/img/favicon.ico" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link class="main-stylesheet" href="~/output/css/site.min.css" rel="stylesheet" type="text/css" />
</head>
<body class="fixed-header">
    @Html.Partial("_Sidebar")
    @Html.Partial("_Header")
    <div class="page-container">
        <div class="page-content-wrapper ">
            <div class="content">
                <div class="jumbotron" data-pages="parallax">
                    @RenderBody()
                </div>
            </div>
            @Html.Partial("_Footer")
        </div>
    </div>
    <script src="~/output/js/site.min.js" type="text/javascript"></script>
    @RenderSection("scripts", required: false)
</body>
</html>