﻿@using Neostore.Backend.Infrastructure.Extensions

@{
    Layout = null;
}

<nav class="page-sidebar" data-pages="sidebar">
    <div class="sidebar-header">
        <img src="~/assets/img/logo.png" alt="logo" data-src="@Url.Content("~/assets/img/logo.png")" data-src-retina="@Url.Content("~/assets/img/logo.png")" height="60">
    </div>
    <div class="sidebar-menu">
        <ul class="menu-items">
            @if (User.Identity.IsAuthenticated)
            {
                @if (User.IsInRole("Admin"))
                {
                    <li class="m-t-30 ">
                        <a asp-action="Index" asp-controller="Home" class="detailed">
                            <span class="title">Dashboard</span>
                            <span class="details">Resumo geral</span>
                        </a>
                        <span class="icon-thumbnail @(Html.IsCurrentController("Home") ? "bg-success" : "")">
                            <i class="pg-home"></i>
                        </span>
                    </li>
                }
                <li class="">
                    <a asp-action="Index" asp-controller="Likes" class="detailed">
                        <span class="title">Conteúdos</span>
                        <span class="details">Sugestão de alunos</span>
                    </a>
                    <span class="icon-thumbnail @(Html.IsCurrentController("Likes") ? "bg-success" : "")">
                        <i class="fa fa-comments"></i>
                    </span>
                </li>
            }
        </ul>
        <div class="clearfix"></div>
    </div>
</nav>