﻿@model Neostore.Backend.Domain.ViewModels.Users.SellerViewModel

@{
    Layout = null;
}

<div class="col-sm-6">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-default required">
                <label asp-for="@Model.FirstName"></label>
                <input type="text" asp-for="@Model.FirstName" class="form-control" required="required">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-default required">
                <label asp-for="@Model.LastName"></label>
                <input type="text" asp-for="@Model.LastName" class="form-control" required="required">
            </div>
        </div>
    </div>

    <div class="form-group form-group-default required">
        <label asp-for="@Model.Email"></label>
        <input type="text" asp-for="@Model.Email" class="form-control" required="required">
    </div>
    @if (ViewContext.RouteData.Values["Action"].ToString().ToLower() == "edit")
    {
        <div class="form-group form-group-default">
            <label asp-for="@Model.Password"></label>
            <input type="password" asp-for="@Model.Password" class="form-control">
        </div>
    }
    else
    {
        <div class="form-group form-group-default required">
            <label asp-for="@Model.Password"></label>
            <input type="password" asp-for="@Model.Password" class="form-control" required="required">
        </div>
    }
</div>