﻿@model Neostore.Backend.Domain.ViewModels.Users.SellerViewModel

@{
    ViewData["Title"] = "Editar usuário";
}

<div class="container-fluid container-fixed-lg">
    <ul class="breadcrumb">
        <li><a asp-action="Index" asp-controller="Home">Dashboard</a></li>
        <li><a asp-action="Index" asp-controller="Users">Usuários</a></li>
        <li><a asp-action="Edit" asp-controller="Users" asp-route-id="@Model.Id" class="active">@ViewData["Title"]</a></li>
    </ul>
    <div class="panel panel-transparent">
        <div class="panel-body">
            <form asp-action="Edit" asp-controller="Users" method="post">
                <input asp-for="@Model.Id" type="hidden" />

                @Html.Partial("_EditorTemplate", Model)

                <div class="clearfix"></div>
                <div class="col-md-12">
                    <button class="btn btn-success" type="submit">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>
