﻿@model IEnumerable<Neostore.Backend.Domain.ViewModels.Users.SellerViewModel>
@using Neostore.Backend.Infrastructure.Helpers

@{
    ViewData["Title"] = "Usuários";
}

<div class="container-fluid container-fixed-lg">
    <ul class="breadcrumb">
        <li><a asp-action="Index" asp-controller="Home">Dashboard</a></li>
        <li><a asp-action="Index" asp-controller="Users" class="active">@ViewData["Title"]</a></li>
    </ul>
    <div class="panel panel-transparent">
        <div class="panel-heading">
            <div class="panel-controls">
                <ul>
                    <li>
                        <a asp-action="Create" asp-controller="Users" class="btn btn-info"><i class="fa fa-plus"></i> Novo</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-hover table-condensed" id="users-table">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Nome</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Email</td>
                            <td>@($"{item.FirstName} {item.LastName}")</td>
                            <td>
                                <div class="btn-group">
                                    <a asp-action="Edit" asp-controller="Users" asp-route-id="@item.Id" class="btn btn-default">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <button data-toggle="modal" data-target="#modalDelete@(item.Id)" type="button" class="btn btn-default">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                    <div class="modal fade slide-up disable-scroll" id="modalDelete@(item.Id)" tabindex="-1" role="dialog" aria-hidden="false">
                                        <div class="modal-dialog ">
                                            <div class="modal-content-wrapper">
                                                <div class="modal-content">
                                                    <div class="modal-header clearfix text-center">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                            <i class="pg-close fs-14"></i>
                                                        </button>
                                                        <h5><span class="semi-bold">Confirmar Exclusão</span></h5>
                                                        <p class="p-b-10">Tem certeza que deseja excluir esse registro?</p>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col-sm-6 m-t-6 sm-m-t-6">
                                                                <button type="button" class="btn btn-default btn-block m-t-5" data-dismiss="modal">Cancelar</button>
                                                            </div>
                                                            <div class="col-sm-6 m-t-6 sm-m-t-6">
                                                                <a asp-action="Delete" asp-controller="Users" asp-route-id="@item.Id" class="btn btn-danger btn-block m-t-5">Excluir</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>

    <script>
        $(document).ready(function () {
            var table = $('#users-table');

            var settings = {
                "dom": 'rtip',
                "order": [[0, "asc"]],
                "destroy": true,
                "scrollCollapse": true,
                "oLanguage": {
                    "sLengthMenu": "_MENU_ ",
                    "sInfo": "Mostrando <b>_START_ a _END_</b> de _TOTAL_ registros"
                },
                "iDisplayLength": 10,
            };

            table.dataTable(settings);
        });
    </script>
}