﻿@model IEnumerable<Neostore.Backend.Domain.ViewModels.Custom.EvaluationViewModel>
@using Neostore.Backend.Infrastructure.Helpers

@{
    ViewData["Title"] = "Avaliações únicas";
}

<div class="container-fluid container-fixed-lg">
    <ul class="breadcrumb">
        <li><a asp-action="Index" asp-controller="Home">Dashboard</a></li>
        <li><a asp-action="Index" asp-controller="Evaluations" class="active">Avaliações</a></li>
    </ul>
    <div class="panel panel-transparent">
        <div class="panel-body">
            <table class="table table-hover" id="evaluations-table">
                <thead>
                    <tr>
                        <th>Loja</th>
                        <th>Data</th>
                        <th>Hora</th>
                        <th>Nota</th>
                        <th>O que pode melhorar?</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@($"{item?.Seller?.FirstName} {item?.Seller?.LastName}")</td>
                            <td>@item.CreateDate.ToLocal().ToString("dd/MM/yyyy")</td>
                            <td>@item.CreateDate.ToLocal().ToString("HH:mm:ss")</td>
                            <td>@item.Rating</td>
                            <td>
                                @if (item?.Reasons?.Count > 0)
                                {
                                    <span>
                                        @string.Join(" - ", item.Reasons.Select(o => o.Description))
                                    </span>
                                }
                                else
                                {
                                    <span>Não selecionado</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.13/i18n/Portuguese-Brasil.json"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.13/sorting/datetime-moment.js"></script>

    <script>
        $(document).ready(function () {
            $.fn.dataTable.moment('DD/MM/YYYY');

            var table = $('#evaluations-table');

            var settings = {
                "dom": 'Brtip',
                "order": [[1, "desc"], [2, "desc"]],
                "destroy": true,
                "scrollCollapse": true,
                "iDisplayLength": 10,
                "buttons": [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ],
                fnDrawCallback: function (oSettings) {
                    $('.export-options-container').append($('.exportOptions'));

                    $('.buttons-csv').tooltip({
                        title: 'Exportar como CSV',
                        container: 'body'
                    });

                    $('.buttons-excel').tooltip({
                        title: 'Exportar como Excel',
                        container: 'body'
                    });

                    $('.buttons-pdf').tooltip({
                        title: 'Exportar como PDF',
                        container: 'body'
                    });

                    $('.buttons-copy').tooltip({
                        title: 'Copiar dados',
                        container: 'body'
                    });
                }
            };

            table.dataTable(settings);

            $(".dt-buttons").addClass("btn-group");
            $(".dt-buttons").addClass("pull-right");

            $('.dt-button').each(function (i, obj) {
                $(this).addClass("btn");
                $(this).addClass("btn-default");
            });

            $(".buttons-copy").html('<i class="fa fa-copy"></i> Copiar');
            $(".buttons-excel").html('<i class="fa fa-file-excel-o"></i> Excel');
            $(".buttons-csv").html('<i class="fa fa-file-text-o"></i> CSV');
            $(".buttons-pdf").html('<i class="fa fa-file-pdf-o"></i> PDF');
        });
    </script>
}